<template>
  <div>
    <!-- <h1>Welcome to forum</h1>
    <h1></h1>
    <div v-for="thread in threads" :key="thread">
      <h1>{{ thread.title }}</h1>
      <div v-for="postId in thread.posts" :key="postId">
        {{ users[posts[postId].userId].name }}
        {{ posts[postId].text }}
      </div>
    </div> -->
    <div
      class="col-large push-top"
      v-for="thread in threads"
      :key="thread['.key']"
    >
      <h1>{{ thread.title }}</h1>

      <div class="post-list">
        <div class="post" v-for="postId in thread.posts" :key="postId">
          <div class="user-info">
            <a href="#" class="user-name">{{
              users[posts[postId].userId].username
            }}</a>

            <a href="#">
              <img
                class="avatar-large"
                :src="users[posts[postId].userId].avatar"
                alt="Avatar"
              />
            </a>

            <p class="desktop-only text-small">107 posts</p>

            <p class="desktop-only text-small">23 threads</p>

            <span class="online desktop-only">online</span>
          </div>

          <div class="post-content">
            <div>
              {{ posts[postId].text }}
            </div>
          </div>

          <div class="post-date text-faded">
            publishedAt:{{ posts[postId].publishedAt }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import db from "@/data.json";
export default {
  name: "HelloWorld",
  data() {
    return {
      threads: db.threads,
      posts: db.posts,
      users: db.users
    };
  },
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
