<template>
  <div id="app" class="container">
    <router-view />
  </div>
</template>

<script>
import "@/assets/css/style.css";
export default {
  name: "app"
};
</script>

<style scoped>
@import url('assets/css/style.css');
</style>>

</style>
